@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: #FFFDE7	;
  font-family: 'Nanum Pen Script', cursive;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }
}
